[submodule "filling_type/CORSMAL-audio-only-filling-type-analysis"]
	path = filling_type/CORSMAL-audio-only-filling-type-analysis
	url = https://github.com/gokhansolak/CORSMAL-audio-only-filling-type-analysis
[submodule "filling_level/vggish/video_features"]
	path = filling_level/vggish/video_features
	url = https://github.com/v-iashin/video_features.git
